  body {
      background-color: black;
      text-align: center;
  }  
  h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
  }
  .link {
      font-size: 16px;
      color: aquamarine;
  }
  p {
    font-size: 21px;
    color: gray;
  }
  h2 {
    font-size: 42px;
    font-weight: 300;
  }